@model MediaPlayer.Cqrs.QueryResult.GetAllGenresQueryResult

@{
    ViewBag.Title = "Жанры";
}

<h2>Жанры</h2>
<a href="@Url.Action("Create")" class="btn btn-success">Создать</a>
<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Genres.FirstOrDefault().GenreName)</td>
        <td></td>
    </tr>

    </thead>
    @foreach (var genre in Model.Genres)
    {
        <tr>
            <td>@genre.GenreName</td>
            <td>
                <a href="@Url.Action("Delete", new {genre.GenreId})"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
    }
</table>